.concept {
  .bkg-concept  {
    background-image: url('../../src/assets/img/about.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
  }

  .kingSize {
    font-size: 5em !important;
    color: white;
  }

  .pd-3 {
    padding: 3em;
  }

  .btn-orange {
    background-color: var(--Color-Orange);
    color: white
  }











}
